<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dotsquares_ShopbySeo" setup_version="1.0.1">
        <sequence>
            <module name="Dotsquares_Base" />
            <module name="Dotsquares_Shopby" />
            <module name="Dotsquares_ShopbyBrand" />
        </sequence>
    </module>
</config>
