/* additional tab in config section*/

.module-version {
    color: #ea7601;
}

.dotsquares-info-block .module-version.last-version {
    color: green;
}

.upgrade-error {
    display: inline-block;
}

.dotsquares-conflicts-title,
.version-title,
.module-version {
    letter-spacing: .025em;
    font-weight: 600;
    font-size: 1.7rem;
}

.dotsquares-conflicts-title {
    margin: 25px 0 10px;
}

.dotsquares-module-version div:first-child {
    margin-bottom: 10px;
}

.dotsquares-info-block span.message {
    display: inline-block;
}

.dotsquares-info-block .message.success {
    background-color: #e9fbdb;
}

a[id*='dotsquares_information'] {
    display: none !important;
}

.dotsquares-module-version .dotsquares-logo {
    position: relative;
    bottom: -9px;
    display: inline-block;
    max-height: 26px;
}

tr[id*='dotsquares_not_instaled'] .value {
    color: #f70606;
}

tr[id*='dotsquares_is_instaled'] .value {
    color: #0a820b;
}

.dsbase-unsubscribe .message-success:before {
    display: none;
}

.dsbase-unsubscribe img {
    margin-right: 10px;
    max-width: 20px;
}

.dsbase-unsubscribe .message-success {
    padding: 1.8rem 4rem 1.8rem 2rem;
}

.dsbase-unsubscribe .message-success span {
    vertical-align: top;
}

.accordion .config td.value.with-tooltip {
    font-size: inherit;
}

.accordion .config .value.with-tooltip div.tooltip {
    margin-top: 10px;
}

.accordion .config .value.with-tooltip div.tooltip .tooltip-content {
    max-width: 400px;
    width: 400px;
}

.value.with-tooltip .select,
.value.with-tooltip .admin__control-table {
    float: left;
}

.accordion .form-inline .config .value {
    padding-right: 4rem;
}

