<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_flat_loadnodes_before">
        <observer name="dotsquares_shopby_children_categories_add_thumbnails" instance="Dotsquares\Shopby\Observer\CategoryFlatLoadNodesBefore"/>
    </event>
    <event name="dsshopby_category_manager_init_after">
        <observer name="dsshopby_category_manager_init_after_event" instance="Dotsquares\Shopby\Observer\CategoryManagerInitAfter"/>
    </event>
</config>
