<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Dotsquares\ShopbyBrand\Model\ResourceModel\Slider\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">dotsquares_dsshopby_option_setting</argument>
            <argument name="eventPrefix" xsi:type="string">dotsquares_dsshopby_brand_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">dotsquares_dsshopby_brand_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Dotsquares\ShopbyBase\Model\ResourceModel\OptionSetting</argument>
        </arguments>
    </type>

    <type name="Magento\Widget\Model\Widget\Instance">
        <plugin name="Dotsquares_ShopbyBrand::add-empty-arguments" type="Dotsquares\ShopbyBrand\Plugin\Widget\Model\Instance\AddEmptyValues" />
    </type>
</config>
