<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="dsshopby_attribute_form_tab_build_after">
        <observer name="Dotsquares_ShopbySeo::AttributeFormAdditionalFields"
                  instance="Dotsquares\ShopbySeo\Observer\Admin\AttributeFormTabBuildAfter"/>
    </event>
</config>
