<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="dsshopby_filter_setting_load_after">
        <observer name="dsshopby_filter_setting_set_category_data" instance="Dotsquares\ShopbyBase\Observer\SetCategoryFilterSettingData"/>
    </event>
</config>
